xml-resources/web-service-references/OctopusWSService/wsdl/service.inaras.be/OctopusService01-13/OctopusWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.octopus.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.octopus.com/" name="OctopusWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.octopus.com/" schemaLocation="https://service.inaras.be:443/OctopusService01-13/OctopusWSService?xsd=1" />
</xsd:schema>
</types>
<message name="InsertFinancialDiversBooking">
<part name="parameters" element="tns:InsertFinancialDiversBooking" />
</message>
<message name="InsertFinancialDiversBookingResponse">
<part name="parameters" element="tns:InsertFinancialDiversBookingResponse" />
</message>
<message name="InsertBalancing">
<part name="parameters" element="tns:InsertBalancing" />
</message>
<message name="InsertBalancingResponse">
<part name="parameters" element="tns:InsertBalancingResponse" />
</message>
<message name="GetBuySellBooking">
<part name="parameters" element="tns:GetBuySellBooking" />
</message>
<message name="GetBuySellBookingResponse">
<part name="parameters" element="tns:GetBuySellBookingResponse" />
</message>
<message name="GetFinancialDiversBooking">
<part name="parameters" element="tns:GetFinancialDiversBooking" />
</message>
<message name="GetFinancialDiversBookingResponse">
<part name="parameters" element="tns:GetFinancialDiversBookingResponse" />
</message>
<message name="GetDeliveryNote">
<part name="parameters" element="tns:GetDeliveryNote" />
</message>
<message name="GetDeliveryNoteResponse">
<part name="parameters" element="tns:GetDeliveryNoteResponse" />
</message>
<message name="GetInvoice">
<part name="parameters" element="tns:GetInvoice" />
</message>
<message name="GetInvoiceResponse">
<part name="parameters" element="tns:GetInvoiceResponse" />
</message>
<message name="UpdateBuySellBooking">
<part name="parameters" element="tns:UpdateBuySellBooking" />
</message>
<message name="UpdateBuySellBookingResponse">
<part name="parameters" element="tns:UpdateBuySellBookingResponse" />
</message>
<message name="UpdateFinancialDiversBooking">
<part name="parameters" element="tns:UpdateFinancialDiversBooking" />
</message>
<message name="UpdateFinancialDiversBookingResponse">
<part name="parameters" element="tns:UpdateFinancialDiversBookingResponse" />
</message>
<message name="UpdateDeliveryNote">
<part name="parameters" element="tns:UpdateDeliveryNote" />
</message>
<message name="UpdateDeliveryNoteResponse">
<part name="parameters" element="tns:UpdateDeliveryNoteResponse" />
</message>
<message name="UpdateInvoice">
<part name="parameters" element="tns:UpdateInvoice" />
</message>
<message name="UpdateInvoiceResponse">
<part name="parameters" element="tns:UpdateInvoiceResponse" />
</message>
<message name="GetReportHistorySupplier">
<part name="parameters" element="tns:GetReportHistorySupplier" />
</message>
<message name="GetReportHistorySupplierResponse">
<part name="parameters" element="tns:GetReportHistorySupplierResponse" />
</message>
<message name="GetReportHistoryClient">
<part name="parameters" element="tns:GetReportHistoryClient" />
</message>
<message name="GetReportHistoryClientResponse">
<part name="parameters" element="tns:GetReportHistoryClientResponse" />
</message>
<message name="GetReportHistoryAccount">
<part name="parameters" element="tns:GetReportHistoryAccount" />
</message>
<message name="GetReportHistoryAccountResponse">
<part name="parameters" element="tns:GetReportHistoryAccountResponse" />
</message>
<message name="GetReportHistoryCostCentre">
<part name="parameters" element="tns:GetReportHistoryCostCentre" />
</message>
<message name="GetReportHistoryCostCentreResponse">
<part name="parameters" element="tns:GetReportHistoryCostCentreResponse" />
</message>
<message name="Authenticate">
<part name="parameters" element="tns:Authenticate" />
</message>
<message name="AuthenticateResponse">
<part name="parameters" element="tns:AuthenticateResponse" />
</message>
<message name="SetLocale">
<part name="parameters" element="tns:SetLocale" />
</message>
<message name="SetLocaleResponse">
<part name="parameters" element="tns:SetLocaleResponse" />
</message>
<message name="GetDossiers">
<part name="parameters" element="tns:GetDossiers" />
</message>
<message name="GetDossiersResponse">
<part name="parameters" element="tns:GetDossiersResponse" />
</message>
<message name="ConnectToDossier">
<part name="parameters" element="tns:ConnectToDossier" />
</message>
<message name="ConnectToDossierResponse">
<part name="parameters" element="tns:ConnectToDossierResponse" />
</message>
<message name="CloseDossier">
<part name="parameters" element="tns:CloseDossier" />
</message>
<message name="CloseDossierResponse">
<part name="parameters" element="tns:CloseDossierResponse" />
</message>
<message name="GetErrorDescription">
<part name="parameters" element="tns:GetErrorDescription" />
</message>
<message name="GetErrorDescriptionResponse">
<part name="parameters" element="tns:GetErrorDescriptionResponse" />
</message>
<message name="GetModifiedDeliveryNotes">
<part name="parameters" element="tns:GetModifiedDeliveryNotes" />
</message>
<message name="GetModifiedDeliveryNotesResponse">
<part name="parameters" element="tns:GetModifiedDeliveryNotesResponse" />
</message>
<message name="GetVatCodes">
<part name="parameters" element="tns:GetVatCodes" />
</message>
<message name="GetVatCodesResponse">
<part name="parameters" element="tns:GetVatCodesResponse" />
</message>
<message name="InsertUpdateAccount">
<part name="parameters" element="tns:InsertUpdateAccount" />
</message>
<message name="InsertUpdateAccountResponse">
<part name="parameters" element="tns:InsertUpdateAccountResponse" />
</message>
<message name="InsertUpdateCostcentre">
<part name="parameters" element="tns:InsertUpdateCostcentre" />
</message>
<message name="InsertUpdateCostcentreResponse">
<part name="parameters" element="tns:InsertUpdateCostcentreResponse" />
</message>
<message name="InsertUpdateProduct">
<part name="parameters" element="tns:InsertUpdateProduct" />
</message>
<message name="InsertUpdateProductResponse">
<part name="parameters" element="tns:InsertUpdateProductResponse" />
</message>
<message name="InsertUpdateRelation">
<part name="parameters" element="tns:InsertUpdateRelation" />
</message>
<message name="InsertUpdateRelationResponse">
<part name="parameters" element="tns:InsertUpdateRelationResponse" />
</message>
<message name="InsertDeliveryNote">
<part name="parameters" element="tns:InsertDeliveryNote" />
</message>
<message name="InsertDeliveryNoteResponse">
<part name="parameters" element="tns:InsertDeliveryNoteResponse" />
</message>
<message name="InsertInvoice">
<part name="parameters" element="tns:InsertInvoice" />
</message>
<message name="InsertInvoiceResponse">
<part name="parameters" element="tns:InsertInvoiceResponse" />
</message>
<message name="InsertBuySellBooking">
<part name="parameters" element="tns:InsertBuySellBooking" />
</message>
<message name="InsertBuySellBookingResponse">
<part name="parameters" element="tns:InsertBuySellBookingResponse" />
</message>
<message name="GetRappelInformation">
<part name="parameters" element="tns:GetRappelInformation" />
</message>
<message name="GetRappelInformationResponse">
<part name="parameters" element="tns:GetRappelInformationResponse" />
</message>
<message name="ExportRappel">
<part name="parameters" element="tns:ExportRappel" />
</message>
<message name="ExportRappelResponse">
<part name="parameters" element="tns:ExportRappelResponse" />
</message>
<message name="GetLastError">
<part name="parameters" element="tns:GetLastError" />
</message>
<message name="GetLastErrorResponse">
<part name="parameters" element="tns:GetLastErrorResponse" />
</message>
<message name="GetAccounts">
<part name="parameters" element="tns:GetAccounts" />
</message>
<message name="GetAccountsResponse">
<part name="parameters" element="tns:GetAccountsResponse" />
</message>
<message name="GetBookyears">
<part name="parameters" element="tns:GetBookyears" />
</message>
<message name="GetBookyearsResponse">
<part name="parameters" element="tns:GetBookyearsResponse" />
</message>
<message name="GetCostCentres">
<part name="parameters" element="tns:GetCostCentres" />
</message>
<message name="GetCostCentresResponse">
<part name="parameters" element="tns:GetCostCentresResponse" />
</message>
<message name="GetJournals">
<part name="parameters" element="tns:GetJournals" />
</message>
<message name="GetJournalsResponse">
<part name="parameters" element="tns:GetJournalsResponse" />
</message>
<message name="GetFinancialJournalBalance">
<part name="parameters" element="tns:GetFinancialJournalBalance" />
</message>
<message name="GetFinancialJournalBalanceResponse">
<part name="parameters" element="tns:GetFinancialJournalBalanceResponse" />
</message>
<message name="GetReportOpenSupplier">
<part name="parameters" element="tns:GetReportOpenSupplier" />
</message>
<message name="GetReportOpenSupplierResponse">
<part name="parameters" element="tns:GetReportOpenSupplierResponse" />
</message>
<message name="GetReportOpenClient">
<part name="parameters" element="tns:GetReportOpenClient" />
</message>
<message name="GetReportOpenClientResponse">
<part name="parameters" element="tns:GetReportOpenClientResponse" />
</message>
<message name="GetReportOpenAccount">
<part name="parameters" element="tns:GetReportOpenAccount" />
</message>
<message name="GetReportOpenAccountResponse">
<part name="parameters" element="tns:GetReportOpenAccountResponse" />
</message>
<message name="ExportInvoice">
<part name="parameters" element="tns:ExportInvoice" />
</message>
<message name="ExportInvoiceResponse">
<part name="parameters" element="tns:ExportInvoiceResponse" />
</message>
<message name="ExportDeliveryNote">
<part name="parameters" element="tns:ExportDeliveryNote" />
</message>
<message name="ExportDeliveryNoteResponse">
<part name="parameters" element="tns:ExportDeliveryNoteResponse" />
</message>
<message name="GetModifiedAccountAmounts">
<part name="parameters" element="tns:GetModifiedAccountAmounts" />
</message>
<message name="GetModifiedAccountAmountsResponse">
<part name="parameters" element="tns:GetModifiedAccountAmountsResponse" />
</message>
<message name="GetModifiedBuySellBookings">
<part name="parameters" element="tns:GetModifiedBuySellBookings" />
</message>
<message name="GetModifiedBuySellBookingsResponse">
<part name="parameters" element="tns:GetModifiedBuySellBookingsResponse" />
</message>
<message name="GetModifiedFinancialDiversBookings">
<part name="parameters" element="tns:GetModifiedFinancialDiversBookings" />
</message>
<message name="GetModifiedFinancialDiversBookingsResponse">
<part name="parameters" element="tns:GetModifiedFinancialDiversBookingsResponse" />
</message>
<message name="GetModifiedInvoices">
<part name="parameters" element="tns:GetModifiedInvoices" />
</message>
<message name="GetModifiedInvoicesResponse">
<part name="parameters" element="tns:GetModifiedInvoicesResponse" />
</message>
<message name="AuthenticateAndConnect">
<part name="parameters" element="tns:AuthenticateAndConnect" />
</message>
<message name="AuthenticateAndConnectResponse">
<part name="parameters" element="tns:AuthenticateAndConnectResponse" />
</message>
<message name="GetProducts">
<part name="parameters" element="tns:GetProducts" />
</message>
<message name="GetProductsResponse">
<part name="parameters" element="tns:GetProductsResponse" />
</message>
<message name="GetProductGroups">
<part name="parameters" element="tns:GetProductGroups" />
</message>
<message name="GetProductGroupsResponse">
<part name="parameters" element="tns:GetProductGroupsResponse" />
</message>
<message name="GetRelations">
<part name="parameters" element="tns:GetRelations" />
</message>
<message name="GetRelationsResponse">
<part name="parameters" element="tns:GetRelationsResponse" />
</message>
<message name="GetModifiedRelations">
<part name="parameters" element="tns:GetModifiedRelations" />
</message>
<message name="GetModifiedRelationsResponse">
<part name="parameters" element="tns:GetModifiedRelationsResponse" />
</message>
<message name="GetModifiedBalancingRelations">
<part name="parameters" element="tns:GetModifiedBalancingRelations" />
</message>
<message name="GetModifiedBalancingRelationsResponse">
<part name="parameters" element="tns:GetModifiedBalancingRelationsResponse" />
</message>
<portType name="OctopusWS">
<operation name="InsertFinancialDiversBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertFinancialDiversBookingRequest" message="tns:InsertFinancialDiversBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertFinancialDiversBookingResponse" message="tns:InsertFinancialDiversBookingResponse" />
</operation>
<operation name="InsertBalancing">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertBalancingRequest" message="tns:InsertBalancing" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertBalancingResponse" message="tns:InsertBalancingResponse" />
</operation>
<operation name="GetBuySellBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetBuySellBookingRequest" message="tns:GetBuySellBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetBuySellBookingResponse" message="tns:GetBuySellBookingResponse" />
</operation>
<operation name="GetFinancialDiversBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetFinancialDiversBookingRequest" message="tns:GetFinancialDiversBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetFinancialDiversBookingResponse" message="tns:GetFinancialDiversBookingResponse" />
</operation>
<operation name="GetDeliveryNote">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetDeliveryNoteRequest" message="tns:GetDeliveryNote" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetDeliveryNoteResponse" message="tns:GetDeliveryNoteResponse" />
</operation>
<operation name="GetInvoice">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetInvoiceRequest" message="tns:GetInvoice" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetInvoiceResponse" message="tns:GetInvoiceResponse" />
</operation>
<operation name="UpdateBuySellBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/UpdateBuySellBookingRequest" message="tns:UpdateBuySellBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/UpdateBuySellBookingResponse" message="tns:UpdateBuySellBookingResponse" />
</operation>
<operation name="UpdateFinancialDiversBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/UpdateFinancialDiversBookingRequest" message="tns:UpdateFinancialDiversBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/UpdateFinancialDiversBookingResponse" message="tns:UpdateFinancialDiversBookingResponse" />
</operation>
<operation name="UpdateDeliveryNote">
<input wsam:Action="http://service.octopus.com/OctopusWS/UpdateDeliveryNoteRequest" message="tns:UpdateDeliveryNote" />
<output wsam:Action="http://service.octopus.com/OctopusWS/UpdateDeliveryNoteResponse" message="tns:UpdateDeliveryNoteResponse" />
</operation>
<operation name="UpdateInvoice">
<input wsam:Action="http://service.octopus.com/OctopusWS/UpdateInvoiceRequest" message="tns:UpdateInvoice" />
<output wsam:Action="http://service.octopus.com/OctopusWS/UpdateInvoiceResponse" message="tns:UpdateInvoiceResponse" />
</operation>
<operation name="GetReportHistorySupplier">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistorySupplierRequest" message="tns:GetReportHistorySupplier" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistorySupplierResponse" message="tns:GetReportHistorySupplierResponse" />
</operation>
<operation name="GetReportHistoryClient">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryClientRequest" message="tns:GetReportHistoryClient" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryClientResponse" message="tns:GetReportHistoryClientResponse" />
</operation>
<operation name="GetReportHistoryAccount">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryAccountRequest" message="tns:GetReportHistoryAccount" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryAccountResponse" message="tns:GetReportHistoryAccountResponse" />
</operation>
<operation name="GetReportHistoryCostCentre">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryCostCentreRequest" message="tns:GetReportHistoryCostCentre" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportHistoryCostCentreResponse" message="tns:GetReportHistoryCostCentreResponse" />
</operation>
<operation name="Authenticate">
<input wsam:Action="http://service.octopus.com/OctopusWS/AuthenticateRequest" message="tns:Authenticate" />
<output wsam:Action="http://service.octopus.com/OctopusWS/AuthenticateResponse" message="tns:AuthenticateResponse" />
</operation>
<operation name="SetLocale">
<input wsam:Action="http://service.octopus.com/OctopusWS/SetLocaleRequest" message="tns:SetLocale" />
<output wsam:Action="http://service.octopus.com/OctopusWS/SetLocaleResponse" message="tns:SetLocaleResponse" />
</operation>
<operation name="GetDossiers">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetDossiersRequest" message="tns:GetDossiers" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetDossiersResponse" message="tns:GetDossiersResponse" />
</operation>
<operation name="ConnectToDossier">
<input wsam:Action="http://service.octopus.com/OctopusWS/ConnectToDossierRequest" message="tns:ConnectToDossier" />
<output wsam:Action="http://service.octopus.com/OctopusWS/ConnectToDossierResponse" message="tns:ConnectToDossierResponse" />
</operation>
<operation name="CloseDossier">
<input wsam:Action="http://service.octopus.com/OctopusWS/CloseDossierRequest" message="tns:CloseDossier" />
<output wsam:Action="http://service.octopus.com/OctopusWS/CloseDossierResponse" message="tns:CloseDossierResponse" />
</operation>
<operation name="GetErrorDescription">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetErrorDescriptionRequest" message="tns:GetErrorDescription" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetErrorDescriptionResponse" message="tns:GetErrorDescriptionResponse" />
</operation>
<operation name="GetModifiedDeliveryNotes">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedDeliveryNotesRequest" message="tns:GetModifiedDeliveryNotes" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedDeliveryNotesResponse" message="tns:GetModifiedDeliveryNotesResponse" />
</operation>
<operation name="GetVatCodes">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetVatCodesRequest" message="tns:GetVatCodes" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetVatCodesResponse" message="tns:GetVatCodesResponse" />
</operation>
<operation name="InsertUpdateAccount">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateAccountRequest" message="tns:InsertUpdateAccount" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateAccountResponse" message="tns:InsertUpdateAccountResponse" />
</operation>
<operation name="InsertUpdateCostcentre">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateCostcentreRequest" message="tns:InsertUpdateCostcentre" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateCostcentreResponse" message="tns:InsertUpdateCostcentreResponse" />
</operation>
<operation name="InsertUpdateProduct">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateProductRequest" message="tns:InsertUpdateProduct" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateProductResponse" message="tns:InsertUpdateProductResponse" />
</operation>
<operation name="InsertUpdateRelation">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateRelationRequest" message="tns:InsertUpdateRelation" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertUpdateRelationResponse" message="tns:InsertUpdateRelationResponse" />
</operation>
<operation name="InsertDeliveryNote">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertDeliveryNoteRequest" message="tns:InsertDeliveryNote" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertDeliveryNoteResponse" message="tns:InsertDeliveryNoteResponse" />
</operation>
<operation name="InsertInvoice">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertInvoiceRequest" message="tns:InsertInvoice" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertInvoiceResponse" message="tns:InsertInvoiceResponse" />
</operation>
<operation name="InsertBuySellBooking">
<input wsam:Action="http://service.octopus.com/OctopusWS/InsertBuySellBookingRequest" message="tns:InsertBuySellBooking" />
<output wsam:Action="http://service.octopus.com/OctopusWS/InsertBuySellBookingResponse" message="tns:InsertBuySellBookingResponse" />
</operation>
<operation name="GetRappelInformation">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetRappelInformationRequest" message="tns:GetRappelInformation" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetRappelInformationResponse" message="tns:GetRappelInformationResponse" />
</operation>
<operation name="ExportRappel">
<input wsam:Action="http://service.octopus.com/OctopusWS/ExportRappelRequest" message="tns:ExportRappel" />
<output wsam:Action="http://service.octopus.com/OctopusWS/ExportRappelResponse" message="tns:ExportRappelResponse" />
</operation>
<operation name="GetLastError">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetLastErrorRequest" message="tns:GetLastError" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetLastErrorResponse" message="tns:GetLastErrorResponse" />
</operation>
<operation name="GetAccounts">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetAccountsRequest" message="tns:GetAccounts" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetAccountsResponse" message="tns:GetAccountsResponse" />
</operation>
<operation name="GetBookyears">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetBookyearsRequest" message="tns:GetBookyears" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetBookyearsResponse" message="tns:GetBookyearsResponse" />
</operation>
<operation name="GetCostCentres">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetCostCentresRequest" message="tns:GetCostCentres" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetCostCentresResponse" message="tns:GetCostCentresResponse" />
</operation>
<operation name="GetJournals">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetJournalsRequest" message="tns:GetJournals" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetJournalsResponse" message="tns:GetJournalsResponse" />
</operation>
<operation name="GetFinancialJournalBalance">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetFinancialJournalBalanceRequest" message="tns:GetFinancialJournalBalance" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetFinancialJournalBalanceResponse" message="tns:GetFinancialJournalBalanceResponse" />
</operation>
<operation name="GetReportOpenSupplier">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenSupplierRequest" message="tns:GetReportOpenSupplier" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenSupplierResponse" message="tns:GetReportOpenSupplierResponse" />
</operation>
<operation name="GetReportOpenClient">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenClientRequest" message="tns:GetReportOpenClient" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenClientResponse" message="tns:GetReportOpenClientResponse" />
</operation>
<operation name="GetReportOpenAccount">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenAccountRequest" message="tns:GetReportOpenAccount" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetReportOpenAccountResponse" message="tns:GetReportOpenAccountResponse" />
</operation>
<operation name="ExportInvoice">
<input wsam:Action="http://service.octopus.com/OctopusWS/ExportInvoiceRequest" message="tns:ExportInvoice" />
<output wsam:Action="http://service.octopus.com/OctopusWS/ExportInvoiceResponse" message="tns:ExportInvoiceResponse" />
</operation>
<operation name="ExportDeliveryNote">
<input wsam:Action="http://service.octopus.com/OctopusWS/ExportDeliveryNoteRequest" message="tns:ExportDeliveryNote" />
<output wsam:Action="http://service.octopus.com/OctopusWS/ExportDeliveryNoteResponse" message="tns:ExportDeliveryNoteResponse" />
</operation>
<operation name="GetModifiedAccountAmounts">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedAccountAmountsRequest" message="tns:GetModifiedAccountAmounts" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedAccountAmountsResponse" message="tns:GetModifiedAccountAmountsResponse" />
</operation>
<operation name="GetModifiedBuySellBookings">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedBuySellBookingsRequest" message="tns:GetModifiedBuySellBookings" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedBuySellBookingsResponse" message="tns:GetModifiedBuySellBookingsResponse" />
</operation>
<operation name="GetModifiedFinancialDiversBookings">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedFinancialDiversBookingsRequest" message="tns:GetModifiedFinancialDiversBookings" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedFinancialDiversBookingsResponse" message="tns:GetModifiedFinancialDiversBookingsResponse" />
</operation>
<operation name="GetModifiedInvoices">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedInvoicesRequest" message="tns:GetModifiedInvoices" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedInvoicesResponse" message="tns:GetModifiedInvoicesResponse" />
</operation>
<operation name="AuthenticateAndConnect">
<input wsam:Action="http://service.octopus.com/OctopusWS/AuthenticateAndConnectRequest" message="tns:AuthenticateAndConnect" />
<output wsam:Action="http://service.octopus.com/OctopusWS/AuthenticateAndConnectResponse" message="tns:AuthenticateAndConnectResponse" />
</operation>
<operation name="GetProducts">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetProductsRequest" message="tns:GetProducts" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetProductsResponse" message="tns:GetProductsResponse" />
</operation>
<operation name="GetProductGroups">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetProductGroupsRequest" message="tns:GetProductGroups" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetProductGroupsResponse" message="tns:GetProductGroupsResponse" />
</operation>
<operation name="GetRelations">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetRelationsRequest" message="tns:GetRelations" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetRelationsResponse" message="tns:GetRelationsResponse" />
</operation>
<operation name="GetModifiedRelations">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedRelationsRequest" message="tns:GetModifiedRelations" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedRelationsResponse" message="tns:GetModifiedRelationsResponse" />
</operation>
<operation name="GetModifiedBalancingRelations">
<input wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedBalancingRelationsRequest" message="tns:GetModifiedBalancingRelations" />
<output wsam:Action="http://service.octopus.com/OctopusWS/GetModifiedBalancingRelationsResponse" message="tns:GetModifiedBalancingRelationsResponse" />
</operation>
</portType>
<binding name="OctopusWSPortBinding" type="tns:OctopusWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="InsertFinancialDiversBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertBalancing">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetBuySellBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetFinancialDiversBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetDeliveryNote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateBuySellBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateFinancialDiversBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateDeliveryNote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportHistorySupplier">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportHistoryClient">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportHistoryAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportHistoryCostCentre">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SetLocale">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetDossiers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConnectToDossier">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CloseDossier">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetErrorDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedDeliveryNotes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetVatCodes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertUpdateAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertUpdateCostcentre">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertUpdateProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertUpdateRelation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertDeliveryNote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertBuySellBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetRappelInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ExportRappel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetLastError">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetAccounts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetBookyears">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetCostCentres">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetJournals">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetFinancialJournalBalance">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportOpenSupplier">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportOpenClient">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetReportOpenAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ExportInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ExportDeliveryNote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedAccountAmounts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedBuySellBookings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedFinancialDiversBookings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedInvoices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AuthenticateAndConnect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetProductGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetModifiedBalancingRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OctopusWSService">
<port name="OctopusWSPort" binding="tns:OctopusWSPortBinding">
<soap:address location="https://service.inaras.be:443/OctopusService01-13/OctopusWSService" />
</port>
</service>
</definitions>